{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
<link rel="stylesheet" type="text/css" href="blog/post_style.scss"/>
{% block content %}
<style>
    body{
        background-color:#f4f4f2;
    }
    h2{
        font-family: oswald;
        color: #e85a4f;
    }
    input[type="text"]{
        font-size:20px ;
        font-family:roboto;
         border:None;
    }
    label{
        font-family: roboto;
    }
   
    input[type="submit"]{
        border-radius: 5px;
        background-color:transparent;
        border-color: #e85a4f;
        margin-left: 75px;
        width: 80%;
        height: 37px;
        color: black;
        font-family: pt-serif;
    }
    input[type="submit"]:hover{
        background-color: #e85a4f;
        color:#f4f4f2;
    }
</style>
        <h2 class="border-bottom mb-4">Create Post...</h2>
        <form  class ="post-form" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                {% csrf_token %}
                <div id="div_id_title" class="form-group">
                    <input type="text" name="title" maxlength="100" class="textinput textInput form-control" required="" id="id_title" placeholder="Add A Catchy Title" style="font-family:roboto; font-size:20px"><!--Here name="" is the name of the fields of model-->
                </div>

                <div id="div_id_tags" class="form-group"> 
                    <label for="id_tags" class="">Tags: </label>
                        <div class="" style="display: inline-block;">
                            <input type="text" data-role="tagsinput" name="tags" maxlength="100" class="textinput textInput form-control" id="id_tags">
                        </div>
                </div><br><br>

                <div id="div_id_image" class="form-group"> 
                    <div class="custom-file">
                        <input type="file" name="image" accept="image/*" class="custom-file-input" id="file">
                        <label class="custom-file-label" for="file">Choose File</label>
                    </div>
                    <!-- <label for="id_image" class="">Image</label>
                        <div class="">
                            <input type="file" name="image" accept="image/*" class="clearablefileinput form-control-file" id="id_image">
                        </div> -->
                </div>
                
                <div id="div_id_content" class="form-group">
                    <label for="id_content" class="">Content</label>
                    <div class="">
                        {{form.media}}
                        {{form.content}}
                    </div>
                </div>

                <input type="submit" value="Create Post" />
            </div>
        </form> 
{% endblock%}

